
- if defined? content
  %section.tri-usp
    %ul
      - content.each do |item|
        %li
          .tri-usp-content
            %h2
              %i{ :class => "fa #{item[:title_icon]}" }
              %br
              =item[:title_text]
            %p
              =item[:content]
