Link Text: Call for speakers
Template: front
Flags: primary

.block-text
  %h1 Agile Tour Brussels is calling for speakers!
  %p Agile Tour Brussels (http://www.atbru.be) is one of the biggest agile conferences in Belgium. Last year we gathered 250 attendees and speakers from Belgium, France, U.S, U.K, Luxemburg, Netherlands and Sweden to share our passion for Agile. The purpose of this conference is to gather in one place Agile practitioners and people wanting to know more about Agile.

  %p At Agile Tour Brussels you will meet a mix of attendees who are either completely new to Agile, experienced or experts.
  %p This year we’re going to have different tracks, and for each of these we’re looking for two kind of sessions: Interactive Talk (Presenter is speaking for most of the time with audience interaction) or Workshop (Primarily focused on hands-on participation with the audience).

  %h2 Track 1: Experience reports.

  %p Tell us your success or failure stories about Implementing Agile in Belgium (or in Europe), What is (not) working for you? If you’re an agile coach or facilitator, bring your client with you!

  %h2 Track 2: Pragmatic Track

  %p We’re looking for small changes or fundamentals, pragmatic things that work. How do you gather requirements? How do you run an outstanding retrospective? In this track your participants will learn something they can apply the day after. It can be technical, soft-skills or a process you use.

  %h2 Track 3: Let’s Play together

  %p This Track is for Agile Games and Serious Games. It’s also the opportunity to suggest “BootCamp” sessions like Introduction to [put Agile method here] or how to estimate with Agile,…

  %h2 Track 4: Agile Management

  %p What’s the role of Managers in Agile? What’s an Agile Manager? What’s an Agile organization? This track will cover subjects such as Management 3.0, Flat organizations, Evidence Based Management,…

  %h2 Track 5: Various

  %p Do you have a favourite subject you’d like to talk about, a kick-ass workshop you’d like to run, a theme you’d like to share? This track is for you!
  %p All Agile methods are welcome: Scrum, XP, KanBan, Lean, Devops, Leadership, Lean Startup, Coaching, System thinking, Product Aspect, Agile outside IT.

  %p We are looking for different levels of sessions: for beginners, practitioners and experts. We welcome experienced as well as new speakers.

  %p How to submit a session?

  %p
    To submit a session, fill in the form located here:
    %a{href: "http://at2015.agiletour.org/fr/callForSpeaker.html"}
      http://at2015.agiletour.org/fr/callForSpeaker.html
  %p (you can log into the website with your existing account or create a new one).

  %p
    %strong Tips for a successful submission:
  %ul
    %li Don’t forget to specify that you’re applying for Agile Tour Belgium – Brussels
    %li Make sure you’re in the call for speaker of Agile Tour 2015 (links to the previous editions could still be active in the platform)
    %li Specify the size of the audience you’d like to have for your session
    %li Sessions must be in English
    %li We would prefer to have session of 1 hour maximum
    %li Deadline for submission: 10th of July 2015

  %p All information about the event will be published on http://www.atbru.be
  %p If you have any questions, feel free to drop an email at marc@atbru.be

  %p If you cannot make it, you can still support us by tweeting about #atbru, blogging, speaking about our event.

  %p Thanks in advance for your support!
  %p The Agile Tour Brussels Organization Team.
