Link Text: Practical Details
Template: front
Flags: primary

.full-container.map-container
  %iframe.map{width: "100%", height: "400", frameborder: "0", style: "border:0; pointer-event:none;", src: "https://www.google.com/maps/embed/v1/place?q=EPHEC%20Ecole%20Pratique%20des%20Hautes%20Etudes%20Commerciales%20%7C%20Avenue%20Konrad%20Adenauer%203&key=AIzaSyCrMpOACVUCQi-0CI7I42nAdJ1Cj_92m3s"}

.block-text
  %h1 Getting to Ephec
  %h2 By train
  %p Merode station is 14 min distance by metro
  %h2 By Metro
  %p Line 1 heading to Stockel. Stop at Alma which is a 5 minutes walking distance
  %h2 By Car
  %p EPHEC is located near "Cliniques universitaires Saint Luc". Your GPS can't miss it

  %h2 Parking facilities
  %p If you come by car, a free parking is available (100 spots). There is also a possibility to park in the streets in the proximity.

  %p Just go to the EPHEC and watch the EPHEC PARKING -1 and -2. You will have to "ring" and tell that you are coming for Agile Tour Brussels. Note that -2 is the biggest parking.

  %p (We still recommend to use public transportation in Brussels and to avoid using your car if possible).
