Link text: Home
Template: front
Flags: primary
Description: The Agile Tour Brussels is one of the biggest community Agile event in Belgium. Its goal is to gather the belgian community to spread its practices and techniques with newcomers as well as experienced practitioners.
Keywords: agile, brussels, scrum, belgium, agile belgium
Title: Agile Tour Brussels 2015

%section{ :class => "hero bg-atbru" }
  .hero-content.l-2
    %h2
      Agile Tour Brussels is back!
      %br
      November 2, 2015

    %p
      Join us at Ephec in Brussels
    %br
:erb
  <%
    @ogimage = "/attachments/crowd.jpg"
    content = [
      {
        :title_icon => 'fa-group',
        :title_text => '200 attendees',
        :content    => 'ATBru 2014 reached 250 participants. This year, we\'re planning on keeping the same size! ATBru is one of the biggest Agile conferences in Belgium.'
      },
      {
        :title_icon => 'fa-road',
        :title_text => '5 tracks',
        :content    => 'ATBru is an all audience conference. We strive to have a wide program that suits any Agile practicioner\'s levels. Workshops, Agile games, talks, we have it all.'
      },
      {
        :title_icon => 'fa-coffee',
        :title_text => 'Awesome food',
        :content    => 'We know that to have a great conference, we need great food. That\'s why we work with local caterers to provide the best of Belgium at the conference.'
      }
    ]
  %>

= haml "partials/tri_usp".to_sym, :layout => false, :locals => { :content => content }

%section.video{style: "text-align: center"}
  %h2 See for yourself
  .full-container
    %iframe{width: "800", height: "480", src: "https://www.youtube.com/embed/YF67LjM3SkM", frameborder: "0", allowfullscreen: true}

%section.sponsors{style: "text-align: center"}
  %h2 Sponsors
  .sponsor
    %a{href: "http://www.wemanity.com/"}
      %img{src: "/attachments/sponsors/wemanity_logo_small.png"}
  .sponsor
    %a{href: "http://www.co-learning.be/"}
      %img{src: "/attachments/sponsors/medium-color-co-learning.png"}
  .sponsor
    %a{href: "http://www.scrumalliance.org/"}
      %img{src: "/attachments/sponsors/scrum_alliance.png"}
  .sponsor
    %a{href: "http://www.agilar.org/"}
      %img{src: "/attachments/sponsors/agilar_logo.png"}

%section.team{style: "text-align: center"}
  %h2 Team
  %ul
    %li
      .img-container
        %img{src: "/attachments/francoisfrancart.jpg"}
        %h3
          %a{href: "http://www.francart.info", target: :blank}
            François Francart
        %p @ffrancart
    %li
      .img-container
        %img{src: "/attachments/alanhortz.jpg"}
        %h3 Alan Hortz
        %p @alanhortz
    %li
      .img-container
        %img{src: "/attachments/marclainez.jpg"}
        %h3
          %a{href: "http://www.spin42.com", target: :blank}
            Marc Lainez
        %p @mlainez
    %li
      .img-container
        %img{src: "/attachments/els.jpg"}
        %h3 Els Meyvaert
        %p @eyjke
    %li
      .img-container
        %img{src: "/attachments/mauriziopedriale.jpg"}
        %h3 Maurizio Pedriale
        %p @mpedriale
    %li
      .img-container
        %img{src: "/attachments/olgasmirnova.jpg"}
        %h3 Olga Smirnova
        %p @OlgaBohen

