Link text: Home
Template: front
Flags: primary
Description: The Agile Tour Brussels is one of the biggest community Agile event in Belgium. Its goal is to gather the belgian community to spread its practices and techniques with newcomers as well as experienced practitioners.
Keywords: agile, brussels, scrum, belgium, agile belgium
Title: Agile Tour Brussels 2016

%section{ :class => "hero bg-atbru" }
  .hero-content.l-2
    %h2
      Agile Tour Brussels is back
    %br
    %br
    %br
    %br
:erb
  <%
    @ogimage = "/attachments/crowd.jpg"
    content = [
      {
        :title_icon => 'fa-group',
        :title_text => '180 attendees',
        :content    => 'Last year, we welcomed 180 attendees. Join us this year and meet a vibrant community of Agile practicioners. ATBru is one of the biggest Agile conferences in Belgium.'
      },
      {
        :title_icon => 'fa-road',
        :title_text => '5 tracks',
        :content    => 'ATBru is an all audience conference. We strive to have a wide program that suits any Agile practicioner\'s levels. Workshops, Agile games, talks, we have it all.'
      },
      {
        :title_icon => 'fa-coffee',
        :title_text => 'Awesome food',
        :content    => 'We know that to have a great conference, we need great food. That\'s why we work with local caterers to provide the best of Belgium at the conference.'
      }
    ]
  %>

= haml "partials/tri_usp".to_sym, :layout => false, :locals => { :content => content }

%section.video{style: "text-align: center"}
  %h2 See for yourself
  .full-container
    %iframe{width: "800", height: "480", src: "https://www.youtube.com/embed/4B-_BZ2_qiA", frameborder: "0", allowfullscreen: true}
