Link Text: Program
Template: front
Flags: primary

.block-text
  %h1 Program

  %p We are confirming the program with our speakers as you read this message, stay tuned!
  %p.cta
    %a.marked-text{href: "http://register.agilesystems.org/"}
      Register now!
