Link Text: Sponsors
Template: front
Flags: primary
Title: Agile Tour Brussels 2015 Sponsors
Keywords: Agile Tour Brussels, Agile, scrum, belgium, sponsors

.block-text
  %p
    Want to see your company here? Have a look at our Sponsoring options and contact
    %a{href:"mailto:sponsoring@atbru.be"}
      sponsoring
    to see how we can work together to make Agile Tour 2015 a great day for the participants and your company.

  %h1#sponsors-packages Sponsoring packages

  %p
    %strong
      Closing drinks sponsor:
    1.500&euro; + VAT
  %ul
    %li You pay for the drinks after the conference
    %li You get acknowledged during the conference
    %li You are mentioned in the program and on the website

  %p
    %strong
      Web sponsor:
    1.000&euro; + VAT
  %ul
    %li Your logo and URL will be put on the www.atbru.be website and on the conference hand outs
    %li You will get an acknowledgement during the conference opening session
    %li Your materials will be available at the registration desk
    %li You will get 1 free admission to the conference

  %p Notes:
  %ul
    %li You are responsible for getting the materials in time at the conference
    %li The conference organizers will give you a timely indication of the number of participants to expect
    %li Your material must be provided from 7am

  %p
    %strong
      Conference Sponsor:
    2.500&euro; + VAT
  %ul
    %li
      You can bring a stand with a table of 1 square meter. Installation from 7am (Contact us at
      %a{href: "mailto:sponsoring@atbru.be"}
        sponsoring
      for a map of the rooms and stands at the venue.)
    %li
      Your logo and URL will be put on the www.atbru.be website and on the conference hand outs
    %li You will get an acknowledgement during the conference opening session
    %li Your materials will be available at the registration desk
    %li You will get 3 free admission to the conference

  %p Notes:
  %ul
    %li You are responsible for getting the materials in time at the conference
    %li You are responsible for your stand
    %li The conference organizers will give you a timely indication of the number of participants to expect
    %li Your material must be provided from 7am

  %p
    %strong
      ATBru + XP Days Sponsor:
    10% discount on both packages

  %p Why not sponsor both Agile Tour Brussels (1 day, 250 participants) and XP Days in november (2 days, 160 participants)? You get:
  %ul
    %li Exposure the whole year long
    %li Lower cost than sponsoring each event separately
    %li Your materials will be available at the registration desk

  %p Notes:
  %ul
    %li Your material must be provided from 7am

  %p
    If you don't find what you are looking for, contact us at
    %a{href: "mailto:sponsoring@atbru.be"}
      sponsoring
    for pricing or to create a sponsoring package tailored to your wishes.
